<div>
  <%= image_tag 'main.png' %>
</div>
<div id="footer-ads">
  <div class="col mini">
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
    </div>
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
    </div>
  </div>
  <div class="col">
    <%= image_tag 'ad1.png' %>
  </div>
  <div class="col">
    <%= image_tag 'ad2.png' %>
  </div>
  <div class="col">
    <%= image_tag 'ad3.png' %>
  </div>
</div>
