<div id="main-ad-image">
  <%= image_tag 'main1.jpg', class: [:active, :main1] %>
  <%= image_tag 'main2.jpg', class: :main2 %>
  <%= image_tag 'main3.jpg', class: :main3 %>
  <%= image_tag 'main4.jpg', class: :main4 %>
  <%= image_tag 'main5.jpg', class: :main5 %>
  <%= image_tag 'main6.jpg', class: :main6 %>
  <%= image_tag 'main7.jpg', class: :main7 %>
  <%= image_tag 'main8.jpg', class: :main8 %>
</div>
<div id="footer-ads">
  <div class="col mini">
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
      <% taxon = Spree::Taxonomy.find_by_name('Deals').try(:taxons).try(:second) %>
      <div>
        <%= link_to taxon.try(:name), seo_url(taxon) if taxon.present? %><br/>
        <small>Dec 1st, 2013</small>
      </div>
    </div>
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
      <div>
        <% if spree_current_user %>
          <%= link_to 'Member Benefits', benefits_path %>
        <% else %>
          <%= link_to 'Get your FREE membership today!', spree_signup_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col">
    <%= image_tag 'ad1.png' %>
  </div>
  <div class="col">
    <%= image_tag 'ad2.png' %>
  </div>
  <div class="col">
    <%= image_tag 'ad3.png' %>
  </div>
</div>
