<div id="main-ad-image">
  <%= image_tag 'main.png' %>
</div>
<div id="footer-ads">
  <div class="col mini">
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
      <div>Not sure what to put here!</div>
    </div>
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
      <div>Something else to advertise here too!</div>
    </div>
  </div>
  <div class="col">
    <%= image_tag 'ad1.png' %>
  </div>
  <div class="col">
    <%= image_tag 'ad2.png' %>
  </div>
  <div class="col">
    <%= image_tag 'ad3.png' %>
  </div>
</div>
