<div id="main-ad-image">
  <%= image_tag 'main1.jpg', class: [:active, :main1] %>
  <%= image_tag 'main2.jpg', class: :main2 %>
  <%= image_tag 'main3.jpg', class: :main3 %>
  <%= image_tag 'main4.jpg', class: :main4 %>
  <%= image_tag 'main5.jpg', class: :main5 %>
  <%= image_tag 'main6.jpg', class: :main6 %>
  <%= image_tag 'main7.jpg', class: :main7 %>
  <%= image_tag 'main8.jpg', class: :main8 %>
</div>
<% holiday = Spree::Taxonomy.find_by_name('Deals').try(:taxons).try(:select) {|t| (t.try(:meta_keywords) || '').include?('holiday') }.first %>
<% specialty = Spree::Taxonomy.find_by_name('Deals').try(:taxons).try(:select) {|t| (t.try(:meta_keywords) || '').include?('specialty') }.first %>
<div id="footer-ads">
  <div class="col mini">
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
      <div>
        <%= link_to holiday.try(:name), seo_url(holiday) if holiday.present? %><br/>
        <small>Sunday May 11th, 2014</small>
      </div>
    </div>
    <div class="mini-ad">
      <%= image_tag 'ring.png' %>
      <div>
        <% if spree_current_user %>
          <%= link_to 'Member Benefits', benefits_path %>
        <% else %>
          <%= link_to 'Get your FREE membership today!', spree_signup_path %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col">
    <%= link_to image_tag('ad1.png'), benefits_path %>
  </div>
  <div class="col">
    <%= link_to_if holiday, image_tag('ad2.png'), holiday ? seo_url(holiday) : '' %>
  </div>
  <div class="col">
    <%= link_to_if specialty, image_tag('ad3.png'), specialty ? seo_url(specialty) : '' %>
  </div>
  <div class="bbb">
    <a title="Click for the Business Review of Gemador LLC, a Jewelers - Retail in Kettering OH" href="///www.bbb.org/dayton/business-reviews/jewelers-retail/gemador-in-kettering-oh-30933#sealclick"><img alt="Click for the BBB Business Review of this Jewelers - Retail in Kettering OH" style="border: 0;" src="///seal-dayton.bbb.org/seals/black-seal-69-145-gemadorllc-30933.png" /></a>
  </div>
</div>
