<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render :partial => 'spree/shared/head' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="<%= body_class %>" id="body" data-hook="body">

    <div id="container" class="container">
      <%= flash_messages %>
      <div id="top-padding">
        <%= image_tag 'ruler.png' %>
      </div>

      <div id="front-header">
        <div id="header-left" class="columns five">
          <%= image_tag 'global_access.png' %>
        </div>
        <div id="header-middle" class="columns eleven">
          <%= link_to image_tag('gemador_logo.png'), Gemador::Application.routes.url_helpers.home_path, id: :home %>
          <div id="nav-header">
            <% Spree::Taxonomy.find_by_name('Categories').taxons.each do |taxon| %>
              <% unless taxon.name == 'Categories' %>
                <p><%= link_to taxon.name, seo_url(taxon) %></p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div id="header-right" class="columns five">
          <div id="gradient">
            <% unless spree_current_user %>
              <p id="save">SAVE EVEN <span>MORE</span> AS A GEMADOR MEMBER!</p>
              <p id="mem-benefits">
                <span>Member Benefits:</span><br/>
                UPGRADED GIFT AND SHIPPING!<br/>
                <%= link_to '...click to read more', spree.signup_path %>
              </p>
            <% end %>
            <div id="my-account">
              <% if spree_current_user %>
                <%= link_to Spree.t(:my_account), spree.account_path %>&nbsp;|&nbsp;<%= link_to Spree.t(:logout), spree.logout_path %>
              <% else %>
                <%= link_to 'Signup', spree.signup_path %> | <%= link_to Spree.t(:login), spree.login_path %>
              <% end %>
            </div>
            <div id="search">
              <%= render :partial => 'spree/shared/search' %>
            </div>
            <div id="my-stuff">
              <%= link_to_cart %>
            </div>
          </div>
        </div>
      </div>
      <div id="lower-ruler">
        <%= image_tag 'ruler.png' %>
      </div>

      <div class="main">
        <span class="right">
          <%= render :partial => 'spree/shared/sidebar' if content_for? :sidebar %>
        </span>

        <% content_class = !content_for?(:sidebar) ? "full" : "fourteen-half" %>
        <div id="main-content" class="columns <%= content_class %>" data-hook>
          <%= breadcrumbs(@taxon) %>
          <%= yield %>
        </div>
      </div>

      <div id="bottom-padding">
        <%= image_tag 'ruler.png' %>
      </div>

    </div>

    <div id="footer-legal" class="container">
      <%= link_to 'Terms Of Use', main_app.terms_path %> /
      <%= link_to 'Member Benefits', main_app.benefits_path %>
    </div>

    <%= render :partial => 'spree/shared/google_analytics' %>
    <script>
      Spree.api_key = <%= raw(try_spree_current_user.try(:spree_api_key).to_s.inspect) %>;
    </script>
  </body>
</html>
